{% extends 'base.twig' %}

{% block conteudo %}

<div class="Perguntas">
	<div class="container">
		<div class="Row">
			<div class="col _col-6 textos wow fadeInUp" data-wow-duration="2s">
				<h1 class="titulo">{{ post.titulo }}</h1>
				<p class="subtitulo">{{ post.subtitulo }}</p>
				{% for item in post.get_field('faq') %}
					<h2 class="pergunta">{{ item.pergunta }}</h2>
					<p class="resposta">{{ item.resposta }}</p>
				{% endfor %}
			</div> 
			<div class="col _col-6 imagens wow fadeInRight" data-wow-duration="2s">
				<div class="dog">
					<img src="{{ theme.link }}/assets/images/dog.png">
				</div>
				<div class="cat">
					<img src="{{ theme.link }}/assets/images/cat.png">
				</div>
			</div>
		</div>
	</div>

	<div class="Sugestao _tac">
		<div class="container">
			<h1>Dúvidas ou sugestões?</h1>
			<a href="{{ site.url }}/contato }}" class="Button">Fale conosco</a>
		</div>
	</div>

</div>


{% endblock %}
