{% extends 'base.twig' %}

{% block conteudo %}

<div class="Produtos">
	<div class="bg-titulo" style="background-image: url({{ theme.link }}/assets/images/background_title.png)">
		<div class="container">
			<h1 class="_ingrediente">Produtos com {{ post.title }}</h1>
		</div>
	</div>
</div>

<div class="Downloads _ingrediente">
	<div class="arabesco" style="background-image: url({{ theme.link }}/assets/images/arabesco.png)">
		<div class="container">
			<div class="Row _gutters">
				{% for item in posts %}
					<div class="col _col-3 icones wow fadeInUp">
						<a href="{{ item.link }}">
					    	<div class="imagem" style="background-image: url({{ Image(item.imagem).src }});"></div>
							<h2 class="titulo _normal">{{ item.title }}</h2>
						</a>
				    </div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="Sugestao _tac">
		<div class="container">
			<h1>Dúvidas ou sugestões?</h1>
			<a href="{{ post.link_chamada }}" class="Button">Fale conosco</a>
		</div>
	</div>
</div>

{% endblock %}